 body{
    font-family:Arial,sans-serif;
    margin:0 ;
    padding: 0;
    line-height: 1.6;
 }

  header{
    background-color: #5c0e4b;
    color: rgb(243, 198, 233);
    padding: 1rem 0;
    text-align: center;

 }

 header ul{
    list-style: none;
    padding: 0;
 }

 header ul li{
    display: inline;
    margin:0 15px;
 }
 header ul li a {
    color: rgb(234, 175, 221);
    text-decoration: none;
}
.hero {
    background: url('c:\Users\Mariam\Downloads\WhatsApp Image 2024-02-28 at 10.45.38_bdbc2802.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #5c0e4b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h1 {
    font-size: 3rem;
    margin: 0;
}
.hero p {
    font-size: 1.5rem;
}

.hero .btn {
    background: #5c0e4b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
section {
    padding: 2rem;
    text-align: center;
}
.project-card {
    background:#5c0e4b ;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(130, 77, 77);
}
.project-MyMedconnect{
    background:#5c0e4b ;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(130, 77, 77);
}
.project-Ellie{
    background:#5c0e4b ;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(130, 77, 77);
}

form {
    max-width: 400px;
    margin: auto;
}
form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #5c0e4b;
    border-radius: 5px;
}

footer {
    background: #5c0e4b;
    color: #c58b9b;
    text-align: center;
    padding: 1rem 0;
}